.footer {
	display: grid;

	padding: 25px 30px;

	color: var(--white);

	background-color: var(--primary);
	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto;
	gap: 10px 40px;

	line-height: 20px;
}

.footer a:hover {
	color: var(--gray-light);
}

.paragraph {
	grid-column: 1 / 2;

	align-self: center;

	margin: 0;
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
	}
}
